{{!-- my code here --}}


{{!-- this is the page the user sees when they ARE LOGGED IN --}}

<body class="auth-true welcome-page">
    <div class="container ">
        <p>"Welcome! Thanks for logging in!"</p>
    </div>
    {{!-- <p>"LOGIN HERE JUST FOR TESTING"</p>
    <button type="submit" class="google-login-button" id="googleLogin">Login with Google</button> --}}

    <div>
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/img/logomovie.png" class="img-logo text-center" alt="logo">
                <br>
                <br>
                <h2 class="text-center">The smart way to find movies.</h2>



                <form action="/" method="POST">
                    <textarea type="text" name="movieTitle" id="movie-name"></textarea>

                    <button type="submit">Search for a movie or show here!</button>
                </form>
                 <h2 class="text-center">here the movies</h2>
        hey its working bc it prints the title: {{this.placeHolder}}

                {{!-- <div class="row pt-2 pb-5">
                    <ul class="pl-5">
                        {{#each placeHolder}}
                        <li>
                            <div class="row pb-2">
                                <div class="col">
                                    {{Title}}
                                </div>
                                <div class="col">
                                    {{Year}}
                                </div>
                                <div class="col">
                                    {{imdbID}}
                                </div>

                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div> --}}
            </div>
        </div>


        {{!-- add rating here --}}
        {{!-- data rating give a default rating of 4 --}}
        <div class="rating-div">
            <div class="row">
                <h4>Give your movie/show rating here <small>Hover and click on a star</small></h2>
            </div>
            <div class="row lead">
                <div id="stars-existing" class="starrr" data-rating='4'></div>
                You gave a rating of <span id="count-existing">4</span> star(s)
            </div>
        </div>

        {{!-- add your comment here --}}

        <form>
            <div class="form-group comment-div">
                <label for="formGroupExampleInput2">Movie or Show Review</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            </div>

        </form>

        <div>

            <h2 class="text-center">Scroll to find the top Movies in 2018:</h2>

            <div id="movieCarousel" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox" id="movie-display">


                </div>

                <a class="carousel-control-prev" href="#movieCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#movieCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <br><br>
        <div>

            <h2 class="text-center">Scroll to find the top TV-Shows in 2018:</h2>

            <div id="tvCarousel" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox" id="tv-display">


                </div>

                <a class="carousel-control-prev" href="#tvCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#tvCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="assets/js/app.js"> </script>
    <script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js"></script>
    <script src="assets/js/login.js"></script>
    <script src="assets/js/rating.js"></script>
</body>