{{!-- my code here --}}

{{!-- this is the page the user sees when they are NOT LOGGED IN --}}
<div class="container welcome-page">
    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/logomovie.png" class="text-center" alt="logo" height="150" width="400">
            <br>
            <br>

            <h1 class="text-center">EducatedGuess</h1>
            <h2 class="text-center">The smart way to find movies.</h2>
        </div>
    </div>



    {{!-- column 1 for the row of movies and shows --}}
    {{!-- this column shows tv shows --}}

    {{!-- <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Scroll to find the top Movies in 2018:</h2>


            <div class="api-call-movies">

            </div>

        </div>

    </div> --}}
</div>

<script>
    // Make sure we wait to attach our handlers until the DOM is fully loaded.



</script>