<div class="container">

  <div class="row mb-4 mt-4">
    <div class="col-10">
      <img src="assets/img/logomovie.png" class="img-logo" alt="logo">
    </div>

    <div class="col-2">
      <button class="btn btn-primary btn-sm" id="googleLogin" type="submit">Login/Register</button>
    </div>
  </div>

  <div class="row mb-4 mt-4">
    <div class="col">
      <h1 class="text-center">The smart way to find movies.</h1>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <h3 class="text-center mt-3 mb-3">Scroll to find the top Movies in 2018:</h3>
    </div>
  </div>

  <div class="row mt-2">
      <div class="col">
    <div id="movieCarousel" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner w-100" role="listbox" id="movie-display" data-interval="false">
      </div>

      <a class="carousel-control-prev" href="#movieCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#movieCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h3 class="text-center">Scroll to find the top TV-Shows in 2018:</h3>
    </div>
  </div>

  <div class="row mt-2 mb-4">
    <div id="tvCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
      <div class="carousel-inner w-100" role="listbox" id="tv-display">
      </div>

      <a class="carousel-control-prev" href="#tvCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#tvCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js"></script>
<script src="assets/js/login.js"></script>
<script src="assets/js/app.js"> </script>