<div class="container">

    <div class="row mb-4 mt-4">
        <div class="col-10">
            <a href="/">
                <img src="assets/img/logomovie.png" class="img-logo" alt="logo">
            </a>
        </div>

        <div class="col-1">
            <form action="/profile" method="GET">
                {{!-- <form action="/:movie" method="GET"> --}}
                    <button class="profile-page btn btn-primary btn-sm" type="submit">My profile</button>
                </form>
        </div>
        <div class="col-1">
            <button class="btn btn-primary btn-sm" id="logout" type="submit">Log out</button>
        </div>
    </div>
    <div class="row mb-4 mt-4">
        <div class="col">
            <h2 class="text-center">Connect with your friends!</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-8">
            <div class="row mt-2">
                <div class="col">
                    <h3 class="text-center mt-3 mb-3">These are your friends movies and shows</h3>
                </div>
            </div>
            {{!-- show friends --}}
            <div class="row mt-2 pb-5 saved-user-movies">
                <div class="col">

                    <ul class="pl-5">
                        {{#each friends}}
                        <li>
                            <div class="row pb-2 align-items-center">
                                <div class="col-1">
                                </div>

                                <div class="col-5">
                                    <h4>{{User.user_name}}</h4>
                                </div>

                                <div class="col-5">
                                    <form action="/friendsinfo/{{this.UserId}}" method="POST">
                                        <button class="showfriendsmedia btn-warning btn-sm">What are you watching!</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-4">
            {{!-- invite friends --}}
            <div class="row mt-2">
                <div class="col">
                    <h3 class="mt-3 mb-3">Invite your friends</h3>
                </div>
            </div>

            <div class="row mb-2 mt-2 justify-content-center">

                <form class="form-inline my-2 my-lg-0" action="/invitefriends" method="POST">
                    <input class="form-control mr-sm-2" type="search" placeholder="Phone number" aria-label="Search"
                        name="phonenumber">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Invite friends</button>
                </form>
            </div>

            {{!-- search friends --}}
            <div class="row">
                <div class="col">
                    <h3 class="mt-4 mb-1">Find your friends</h3>
                </div>
            </div>
            <div class="row mb-4 mt-2 justify-content-center">

                <form class="form-inline my-2 my-lg-0" action="/searchfriends" method="POST">
                    <input class="form-control mr-sm-2" type="search" placeholder="Friend name" aria-label="Search"
                        name="friendname">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search friends</button>
                </form>
            </div>

            {{!-- show users --}}
            <div class="row saved-user-movies">
                <div class="col">

                    <ul class="">
                        {{#each users}}
                        <li>
                            <div class="row align-items-center">

                                <div class="col-10">
                                    <h3>{{user_name}}</h3>
                                </div>

                                <div class="col-2">
                                    <button class="addfriend btn-warning btn-sm" data-id="{{this.id}}">Add!</button>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js"></script>
<script src="assets/js/login.js"></script>
<script src="assets/js/app.js"> </script>