html {
    position: relative;
    min-height: 100%;
  }

body{
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
   /* font-family: 'Roboto Condensed', sans-serif; */
   /* font-family: 'Titillium Web', sans-serif;  */
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    background-color: black;
    background-repeat: repeat;
    width: 1024px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    line-height: 50px;
    color: white;
    width: 1024px;
    margin: 40px auto;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
  }

/* .registered-page{
    background-color: black;
    color: white;
}
.welcome-page{
    background-color: black;
    color: white;
} */

.container {
    background-color:black;
    color: white;
}

.backcol {
    background-color: rgba(0, 0, 0, 0.4);
}

.movie-div{
    /* text-align: left; */
    margin-left: 250px;
}

.rating-div{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    line-height: 50px;
    background-color: black;
    color: orange;
}

.comment-div{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    line-height: 50px;
    background-color: black;
    color: orange;
}

#movie-display{

    width: 75%;
    width: 300px;
    height: 500px;
}
#tv-display{

    width: 75%;
    width: 300px;
    height: 500px;
}

.img-logo{
display: block;
float: left;
  margin-left: auto;
  margin-right: auto;
  height:70px;
width:290px
} 

img{
    width: 200px;
    height: 300px;
}


.profile-button {
    border: none;
    background: url('../img/portrait.png') no-repeat top left;
    padding: 8px;
    height: 35px;
  width: 35px;

  border-radius: 50%;
  Background-size: 100%;
}

.glyphicon{
    font-size: 25px;
    color: red;
  }

* {
    box-sizing: border-box;
  }


h1 {
    font-size: 50px;
    font-family: 'Titillium Web', sans-serif; 
    color: white;
}

h2 {
    font-size: 34px;
    font-family: 'Coiny', cursive;
}

h3 {
   
    font-size: 27px;
    color: white;
    font-family: 'Titillium Web', sans-serif; 
    /* font-weight: bold; */
    /* font-family: 'Coiny', cursive; */
}


h4 {
   
    font-size: 18px;
    color: white;
    font-family: 'Titillium Web', sans-serif; 
    /* font-weight: bold; */
    /* font-family: 'Coiny', cursive; */
}

p {
    font-size: 12px;
}

/* .carousel-inner{
    width:100%;
    max-height: 300px !important;
  } */

  .carousel {
    margin: 1.5rem;
  }

  .carousel-inner{
    width:100%;
    max-height: 300px !important;
    padding-left: 30px;
  }
  
  .carousel-control-prev {
    margin-left: -100px;
  }
  
  .carousel-control-next {
    margin-right: -100px;
  }

  .modal{

      color:black
  }


  
  #add2list{
    background-repeat: repeat-x;    
    /* height:121px; */
    width: 984px;
    margin-left: 20px;
    margin-top: 13px;
}

#add2list .content{    
    width: 182px; /*328 co je 1/3 - 20margin left*/
    /* height: 121px; */
    line-height: 20px;
    margin-top: 0px;
    margin-left: 9px;
    margin-right:0px;
    display:inline-block;
    position:relative;
}

#add2list .content a {
    position:absolute;
    bottom:5px;
    right: 1px;
    background:blue;
    color:#FFF;
}